[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/email-protection"]
	path = themes/email-protection
	url = https://github.com/dzeromsk/hugo-email-protection
